@import "./cesium/cesium.reset";
@import "./ui/ui";
/*  Map */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  background: #000;
}

.controller,
.cesium-widget > canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 950;
  overflow: hidden;
  filter: opacity(0);
  // pointer-events: none;
}

#gameCanvas {
  clip-path: inset(6% 3% 6% 3% round 20px);
}
